/* Icons from here: https://fonts.google.com/icons?selected=Material+Icons */

#recipeParts {
    margin: 20px;
}

.recipePart {
    margin: 20px;
    border: 1px black solid;
    padding: 10px;
    position: relative;
}

.recipePart > img {
    position: absolute;
    top: 10px;
    right: 10px;
    vertical-align: middle;
}

.recipePart img:hover {
    background-color: royalblue;
    border-radius: 3px;
    cursor: pointer;
    content:url("img/deleteWhite.svg");
}

.ingredientList {
    margin-left: 20px;
}

.ingredient {
    margin: 5px;
}

.ingredient img {
    vertical-align: middle;
}

.ingredient img:hover {
    background-color: royalblue;
    border-radius: 3px;
    cursor: pointer;
    content:url("img/removeWhite.svg");
}